/*--
Author: W3Layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

/*-- Reset Code --*/
body {
	padding: 0;
	margin: 0;
	background: #FFF;
	font-family: 'Open Sans', sans-serif;
}
body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}
body a:hover {
	text-decoration: none;
}
body a:focus, a:hover {
	text-decoration: none;
}
input[type="button"], input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}
p {
	margin:0;
}
ul {
	margin:0;
	padding:0;
}
label {
	margin:0;
}
a:focus, a:hover {
	text-decoration: none;
	outline: none
}
img {
	width: 100%;
}
/*-- //Reset Code --*/

/*-- Index-Page-Styling --*/

/*-- Navbar --*/
.navbar-inverse {
	position: absolute;
	z-index: 99999;
	border: none;
	margin-bottom: 0;
	border-radius: 0;
}
.navbar-inverse {
	background-color: transparent;
	border-color: transparent;
}
.navbar-inverse .navbar-toggle {
	border-color: #333;
	border: 3px solid #FFF;
}
.logo {
	margin-top: 30px;
	height: 100px;
	width: 100px;
	position: relative;
	left: 50px;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
	color: #FFF;
}
.navbar-nav {
	background-color: transparent;
	margin-top: 50px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	background-color: transparent;
}
.navbar-inverse .navbar-nav>li>a {
	color: #EEE;
	font-weight: 600;
}
.navbar-inverse .navbar-nav>li>a:hover {
	color: #FFF;
}
ul#cross-effect {
	margin-top: 50px;
}
/*-- Hover-Cross-Effect --*/
.cross-effect {
	position: relative;
	z-index: 1;
}
.cross-effect a {
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}
.cross-effect a::before, .cross-effect a::after {
	position: absolute;
	width: 100%;
	left: 0;
	top: 50%;
	height: 2px;
	margin-top: -1px;
	background: #EEE;
	content: '';
	z-index: -1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}
.cross-effect a::before {
	-webkit-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	transform: translateY(-20px);
}
.cross-effect a::after {
	-webkit-transform: translateY(20px);
	-moz-transform: translateY(20px);
	transform: translateY(20px);
}
.cross-effect a:hover, .cross-effect a:focus {
	color: #fff;
}
.cross-effect a:hover::before, .cross-effect a:hover::after, .cross-effect a:focus::before, .cross-effect a:focus::after {
	opacity: 0.7;
}
.cross-effect a:hover::before, .cross-effect a:focus::before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}
.cross-effect a:hover::after, .cross-effect a:focus::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
/*-- //Hover-Cross-Effect --*/
/*-- //Navbar ---*/

/*-- Slider-Grid --*/
.slider-grid-bg {
	text-align: center;
	position: absolute;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.slider-grid-text {
	position: absolute;
	text-align: center;
}
.slider-grid-text h5 {
	font-size: 75px;
	color: #FFF;
	font-weight: 600;
	margin-bottom: 20px;
}
.slider-grid-text .border {
	width: 100px;
	border-top: 3px solid #EEE;
	margin: 0 auto;
}
.slider-grid-text p {
	font-size: 14px;
	color: #EEE;
	line-height: 30px;
	margin-top: 35px;
}
/*-- //Slider-Grid --*/

/*-- Content --*/

h1, .about h3, .portfolio h3, .skills h3, .stats h3 {
	font-size: 40px;
	font-weight: 600;
	margin: 50px auto 0;
}
.about h3, .stats h3 {
	color: #FFF;
}
.heading-underline {
	height: 5px;
	width: 10%;
	margin: 20px auto 50px;
	background-color: #006db7;
	border-radius: 20px;
}

/*-- About --*/
.about {
	background: url("../images/berkeley.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	height: 500px;
}
.about p {
	color: #EEE;
	font-size: 14px;
	line-height: 35px;
	padding: 0 25px;
	text-align: center;
}

.social {
	margin-top: 30px;
	text-align: center;
}
ul.social-icons li {
	display: inline-block;
}
ul.social-icons li a {
	display: inline-block;
	width: 50px;
	height: 50px;
	background: url("../images/img-sprite.png") no-repeat 0px 0px;
}
ul.social-icons li a.facebook {
	background-position: 0px 0px;
}
ul.social-icons li a.facebook:hover {
	background-position: 0px -50px;
}
ul.social-icons li a.twitter {
	background-position: -50px 0px;
}
ul.social-icons li a.twitter:hover {
	background-position: -50px -50px;
}
ul.social-icons li a.googleplus {
	background-position: -100px 0px;
}
ul.social-icons li a.googleplus:hover {
	background-position: -100px -50px;
}
ul.social-icons li a.instagram {
	background-position: -150px 0px;
}
ul.social-icons li a.instagram:hover {
	background-position: -150px -50px;
}
ul.social-icons li a.youtube {
	background-position: -200px 0px;
}
ul.social-icons li a.youtube:hover {
	background-position: -200px -50px;
}
/*-- //About --*/

/*-- Portfolio --*/
.portfolio {
	padding-bottom: 50px;
}
/*-- Tabs --*/
.tabs {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
}
.tabs nav {
	text-align: center;
}
.tabs nav ul {
	position: relative;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	margin: 0 auto;
	padding: 0;
	max-width: 1200px;
	list-style: none;
	-ms-box-orient: horizontal;
	-ms-box-pack: center;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
.tabs nav ul li {
	position: relative;
	z-index: 1;
	display: block;
	margin: 0;
	text-align: center;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.tabs nav a {
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 2.5;
}
.tabs nav a span {
	vertical-align: middle;
	font-size: 0.75em;
}
.tabs nav li.tab-current a {
	color: #74777b;
}
.tabs nav a:focus {
	outline: none;
}
.portfolio h4 {
	margin: 30px 0;
	font-size: 25px;
	font-weight: 600;
}
/*-- Tabs-Content --*/
.content-wrap {
	position: relative;
}
.content-wrap section {
	display: none;
	margin: 0 auto;
	padding: 1em;
	max-width: 1200px;
	text-align: center;
}
.content-wrap section.content-current {
	display: block;
}
.content-wrap section p {
	margin: 0;
	padding: 0.75em 0;
	color: rgba(40,44,42,0.05);
	font-weight: 900;
	font-size: 4em;
	line-height: 1;
}
/*-- //Tabs-Content --*/

/*-- Fallback --*/
.no-js .content-wrap section {
	display: block;
	padding-bottom: 2em;
	border-bottom: 1px solid rgba(255,255,255,0.6);
}
.no-flexbox nav ul {
	display: block;
}
.no-flexbox nav ul li {
	min-width: 15%;
	display: inline-block;
}
/*-- //Fallback --*/

/*-- Tabs-Styling --*/
.tabs-style-bar nav {
	background: rgba(40,44,42,0.05);
}
.tabs-style-bar nav ul {
	border: 4px solid transparent;
}
.tabs-style-bar nav ul li a {
	margin: 0 2px;
	background-color: #f7f7f7;
	color: #74777b;
	transition: background-color 0.2s, color 0.2s;
}
.tabs-style-bar nav ul li a:hover, .tabs-style-bar nav ul li a:focus {
	color: #006db7;
}
.tabs-style-bar nav ul li a span {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 13px;
}
.tabs-style-bar nav ul li.tab-current a {
	background: #006db7;
	color: #fff;
}
/*-- //Tabs-Styling --*/

/*-- Tab-Images --*/
.gallery-top {
	padding: 10px;
}
.gallery-grids figure {
	position: relative;
	float: left;
	overflow: hidden;
	text-align: center;
	width: 100%;
}
.gallery-grids figure img {
	position: relative;
	display: block;
	width: 100%;
	border: 3px solid #C7C7C7;
}
.gallery-bottom {
	margin: 2.5em 0;
}
.gallery-grids figure figcaption {
	padding: 2em;
	color: #fff;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}
.gallery-grids figure figcaption::before, .gallery-grids figure figcaption::after {
	pointer-events: none;
}
.gallery-grids figure figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
figure.effect-bubba {
	background: #000;
}
figure.effect-bubba:hover img {
	opacity: 0.3;
}
figure.effect-bubba figcaption::before, figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s,-webkit-transform 0.35s;
	-moz-transition: opacity 0.35s, -moz-transform 0.35s;
	-o-transition: opacity 0.35s, -o-transform 0.35s;
	-ms-transition: opacity 0.35s, -ms-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	-moz-transform: scale(0,1); 
	-o-transform: scale(0,1);
	-ms-transform: scale(0,1);
	transform: scale(0,1);
}
figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	-moz-transform: scale(1,0);
	-o-transform: scale(1,0);
	-ms-transform: scale(1,0);
	transform: scale(1,0);
}
figure.effect-bubba h4 {
	padding-top: 11%;
	-webkit-transition: transform 0.35s;
	-moz-transition: transform 0.35s;
	-o-transition: -o-transform 0.35s;
	-ms-transition: -ms-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	-moz-transform: translate3d(0,-20px,0);
	-o-transform: translate3d(0,-20px,0);
	-ms-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
	opacity:0;
}
.gallery-top figure.effect-bubba h4{
	padding-top: 15%;
}
figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h4 {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
/*-- //Tab-Images --*/
/*-- //Tabs --*/
/*-- //Portfolio --*/

/*-- Skills --*/
/*.skills {
	background: url("../images/berkeley.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	height: 500px;
}*/
.skills p {
	line-height: 35px;
	margin-top: 40px;
	text-align: center;
}
.skills-numbers {
	margin-top: 100px;
	padding: 0 50px;
}
.num1 {
	width: 20%;
	float: left;
	text-align: center;
}
.num1 .num-rotate {
	width: 100px;
	height: 100px;
	position: relative;
	left: 23%;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	background-color: #006db7;
}
.num1 .num-rotate:before {
	content: "";
	position: absolute;
	top: 0px;
	right: 70px;
	border-width: 0 30px 30px 0;
	border-style: solid;
	border-color: #FFF #FFF #006db7 #006db7;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-transition: border-color .2s ease-in-out;
	-moz-transition: border-color .2s ease-in-out;
	transition: border-color .2s ease-in-out;
	display: block;
	width: 0;
	transform: rotate(-90deg);
}
.num1 .num-rotate:hover:before {
	border-color: #006db7 #006db7 #006db7 #006db7;
	-webkit-transition: border-color .2s ease-in-out;
	-moz-transition: border-color .2s ease-in-out;
	transition: border-color .2s ease-in-out;
	box-shadow: none;
}
.num1 .numscroller {
	color: #FFF;
	position: absolute;
	top: 30px;
	left: 35px;
	-webkit-transform: rotate(315deg);
	-moz-transform: rotate(315deg);
	-ms-transform: rotate(315deg);
	-o-transform: rotate(315deg);
	transform: rotate(315deg);
	display: block;
	font-size: 25px;
	font-weight: 900;
}
.num1 h4 {
	margin: 50px 0 0 0;
	font-size: 20px;
	font-weight: bolder;
}
/*-- Progress-Bar --*/
#about-us {
	padding: 60px 0;
}
#about-us h2 {
	margin-top: 0;
	color: #fff;
}
#about-us .lead {
	font-size: 16px;
	font-weight: 800;
	margin-bottom: 5px;
	text-align: left;
}
#about-us h1 {
	margin-bottom: 30px;
}
.progress{
	height: 20px;
	background-color: #EEE;
	border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	margin-bottom: 25px;
}
.progress-bar{
	box-shadow: none;
	-webkit-box-shadow: none;
	text-align: right;
	padding-right: 12px;
	background-color: #006db7;
	font-size: 12px;
	font-weight: 600;
}
.progress .progress-bar.six-sec-ease-in-out {
	-webkit-transition: width 2s ease-in-out;
	transition: width 2s ease-in-out;
}
/*-- //Progress-Bar --*/
/*-- //Skills --*/

/*-- Stats --*/
.stats {
	background: url("../images/s1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	height: 600px;
}
.stats p {
	color: #EEE;
	font-size: 14px;
	line-height: 35px;
	padding: 0 50px;
	text-align: center;
}
.stats-info {
	text-align: center;
	margin-top: 50px;
}
.stats-img img {
	width: 100px;
}
.stats-img {
	margin-bottom: 30px;
}
.stats-grid {
	font-size: 35px;
	font-weight: 700;
	color: #006db7;
	margin-bottom: 10px;
}
p.stats-info {
	margin-top: 20px;
}
/*-- //Stats --*/

/*-- Slideanim --*/
.slideanim {}
.slide {
	/* The name of the animation */
	animation-name: slide;
	-webkit-animation-name: slide; 
	/* The duration of the animation */
	animation-duration: 1s; 
	-webkit-animation-duration: 1s;
	/* Make the element visible */
	visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
	0% {
		opacity: 0;
		-webkit-transform: translateY(70%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}
@-webkit-keyframes slide {
	0% {
		opacity: 0;
		-webkit-transform: translateY(70%);
	} 
	100% {
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}
/*-- //Slideanim --*/

/*-- //Index-Page-Styling --*/

/*-- Responsive Code --*/

@media screen and (max-width:1920px) {
	nav.navbar.navbar-inverse.navbar-default {
		width: 60%;
	}
	.slider-grid-bg {
		left: 40%;
	}
	.carousel-control {
		top: 45%;
	}
}

@media screen and (max-width:1680px) {
	nav.navbar.navbar-inverse.navbar-default {
		width: 69%;
	}
	.slider-grid-bg {
		left: 39%;
	}
	.carousel-control {
		top: 46.5%;
	}
}

@media screen and (max-width:1600px) {
	nav.navbar.navbar-inverse.navbar-default {
		width: 72%;
	}
}

@media screen and (max-width:1440px) {
	nav.navbar.navbar-inverse.navbar-default {
		width: 80%;
	}
	.slider-grid-bg {
		left: 37%;
		top: 30%;
	}
}

@media screen and (max-width:1366px) {
	nav.navbar.navbar-inverse.navbar-default {
		width: 85%;
	}
	.slider-grid-bg {
		left: 37.5%;
		top: 28%;
	}
}

@media screen and (max-width:1280px) {
	nav.navbar.navbar-inverse.navbar-default {
		width: 90%;
	}
	.slider-grid-bg {
		left: 36%;
	}
}

@media screen and (max-width:1024px) {
	nav.navbar.navbar-inverse.navbar-default {
		width: 93%;
	}
	ul#cross-effect {
		margin-top: 40px;
	}
	.slider-grid-bg {
		top: 27%;
		left: 35%;
		height: 300px;
		width: 300px;
	}
	.slider-grid-text {
		left: 0px;
		top: 75px;
	}
	.slider-grid-text h5 {
		font-size: 28px;
	}
	.about {
		height: 530px;
	}
	.gallery-top figure.effect-bubba h4 {
		padding-top: 9%;
	}
	.stats {
		height: 580px;
	}
	#about-us {
		padding: 60px 60px;
	}
	p.stats-info {
		margin: 0;
		padding: 0;
	}
	.newsletter .email {
		padding: 5px 40px 5px 10px;
		font-size: 13px;
	}
	.newsletter .submit {
		width: 35px;
	}
}

@media screen and (max-width:991px) {
	nav.navbar.navbar-inverse.navbar-default {
		width: 80%;
	}
	.navbar-nav.navbar-right:last-child {
		margin-right: 0;
	}
	.logo {
		height: 80px;
		width: 80px;
	}
	.navbar-inverse .navbar-brand {
		left: -10px;
		top: 10px;
		font-size: 20px;
	}
	.about {
		height: 585px;
	}
	.about p {
		padding: 0;
	}
	.gallery-top {
		width: 33%;
		display: inline-table;
	}
	.gallery-top figure.effect-bubba h4 {
		padding-top: 0%;
	}
	.num1 .num-rotate {
		width: 75px;
		height: 75px;
		left: 15%;
	}
	.num1 .num-rotate:before {
		right: 45px;
	}
	.num1 .numscroller {
		top: 25px;
		left: 30px;
	}
	.num1 h4 {
		font-size: 18px;
	}
	.stats {
		height: 610px;
	}
	.stats p {
		padding: 0;
	}
	#about-us {
		padding: 60px 25px;
	}
	ul.social-icons li a {
		display: inline-block;
		width: 30px;
		height: 30px;
		background: url("../images/img-sprite.png") no-repeat 0px 0px;
		background-size: 200px;
	}
	ul.social-icons li a.facebook:hover {
		background-position: 0px -33px;
	}
	ul.social-icons li a.twitter {
		background-position: -35px 0px;
	}
	ul.social-icons li a.twitter:hover {
		background-position: -35px -33px;
	}
	ul.social-icons li a.googleplus {
		background-position: -69px 0px;
	}
	ul.social-icons li a.googleplus:hover {
		background-position: -69px -33px;
	}
	ul.social-icons li a.instagram {
		background-position: -102px 0px;
	}
	ul.social-icons li a.instagram:hover {
		background-position: -102px -33px;
	}
	ul.social-icons li a.youtube {
		background-position: -135px 0px;
	}
	ul.social-icons li a.youtube:hover {
		background-position: -135px -33px;
	}
	.newsletter .email {
		padding: 5px 40px 5px 10px;
		font-size: 13px;
		width: 110%;
	}
	.newsletter .submit {
		width: 35px;
		right: -15px;
	}
}

@media screen and (max-width:966px) {
	.about p {
		padding: 0;
	}
	.gallery-grids h4 {
		font-size: 20px;
	}
	.num1 .num-rotate {
		width: 80px;
		height: 80px;
		left: 18%;
	}
	.num1 .num-rotate:before {
		top: 0px;
		right: 55px;
		border-width: 0 25px 25px 0;
	}
}

@media screen and (max-width:853px) {
	nav.navbar.navbar-inverse.navbar-default {
		width: 90%;
	}
	ul#cross-effect {
		margin-top: 30px;
	}
	.slider-grid-bg {
		top: 29%;
		left: 35%;
		height: 250px;
		width: 250px;
	}
	.slider-grid-text {
		left: 20px;
		top: 60px;
	}
	.slider-grid-text h5 {
		font-size: 22px;
	}
	.slider-grid-text p {
		font-size: 13px;
		margin-top: 15px;
	}
}

@media screen and (max-width:800px) {
	nav.navbar.navbar-inverse.navbar-default {
		width: 92%;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.slider-grid-bg {
		top: 27.5%;
	}
}

@media screen and (max-width:768px) {
	nav.navbar.navbar-inverse.navbar-default {
		width: 95%;
	}
	.logo {
		margin-left: 25px;
	}
	ul#cross-effect {
		margin-top: 20px;
	}
	.slider-grid-bg {
		top: 26.5%;
		left: 33%;
	}
	.about {
		height: 580px;
	}
	h1, .about h3, .portfolio h3, .skills h3, .stats h3, .clients h3 {
		font-size: 35px;
		margin: 40px auto 0;
	}
}

@media screen and (max-width:736px) {
	.navbar-toggle {
		margin-right: 0;
		margin-top: 26px;
	}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
		border: none;
		box-shadow: none;
		width: 72%;
		position: absolute;
		top: 19px;
		right: 45px;
		padding: 0;
	}
	ul#cross-effect {
		width: 97%;
		float: right;
		text-align: center;
		display: -webkit-inline-box;
		padding: 0;
		margin: 0;
	}
	.nav>li {
		height: 50px;
		margin-top: 5px;
	}
	.nav>li>a {
		padding: 10px 12px;
	}
	.slider-grid-bg {
		height: 225px;
		width: 225px;
		top: 28.5%;
		left: 34%;
	}
	.slider-grid-text {
		left: 15px;
		top: 45px;
	}
	.slider-grid-text h5 {
		font-size: 20px;
	}
	.heading-underline {
		margin-bottom: 30px;
	}
	.img-grid {
		padding: 10px;
		width: 33%;
		float: left;
	}
	.about {
		height: 550px;
	}
	.portfolio {
		padding-bottom: 20px;
	}
	.gallery-top {
		width: 32%;
	}
	.gallery-grids h4 {
		font-size: 18px;
	}
	.gallery-top figure.effect-bubba h4 {
		margin-top: 26px;
	}
	.skills-numbers {
		margin-top: 60px;
		padding: 0 30px;
	}
	.stats {
		height: 570px;
	}
	.stats-grid {
		width: 25%;
		float: left;
	}
	.c1 {
		width: 50%;
		float: left;
		padding: 0 5px;
	}
	a.more_btn {
		font-size: 13px;
	}
}

@media screen and (max-width:667px) {
	.logo {
		height: 60px;
		width: 60px;
		margin-top: 20px;
		margin-left: 5px;
	}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
		width: 72%;	
	}
	.navbar-inverse .navbar-brand {
		left: -15px;
		top: 0px;
		font-size: 16px;
	}
	.navbar-inverse .navbar-nav>li>a {
		font-size: 12px;
	}
	.slider-grid-bg {
		top: 26.5%;
		left: 33%;
	}
	.slider-grid-text {
		left: 17px;
	}
	.nav-diamond a {
		margin: 0;
	}
	.about {
		height: 500px;
	}
	.about p {
		font-size: 13px;
		line-height: 30px;
	}
	.gallery-top figure.effect-bubba h4 {
		margin-top: 18px;
	}

	.skills p {
		font-size: 13px;
		line-height: 30px;
	}
	.num1 .num-rotate {
		width: 65px;
		height: 65px;
		left: 20%;
	}
	.num1 .num-rotate:before {
		right: 45px;
		border-width: 0 20px 20px 0;
	}
	.num1 .numscroller {
		top: 20px;
		left: 25px;
		font-size: 20px;
	}
	.num1 h4 {
		font-size: 18px;
	}
	.stats p {
		font-size: 13px;
		line-height: 30px;
	}
	.stats-img img {
		width: 80px;
	}
	.stats {
		height: 535px;
	}
	.address li {
		line-height: 21px;
	}
}

@media screen and (max-width:640px) {
	.navbar-toggle {
		margin-right: 0px;
	}
	.navbar-inverse .navbar-nav>li>a {
		font-size: 11px;
	}
	.slider-grid-bg {
		top: 25.5%;
		left: 32%;
	}
	.gallery-top figure.effect-bubba h4 {
		margin-top: 15px;
		font-size: 16px;
	}
	#about-us {
		padding: 30px;
	}
	#about-us .lead {
		margin-top: 15px;
	}
}

@media screen and (max-width:603px) {
	.nav>li>a {
		padding: 10px;
	}
	.slider-grid-bg {
		height: 200px;
		width: 200px;
		top: 27.5%;
		left: 33%;
	}
	.slider-grid-text {
		left: 10px;
		top: 40px;
	}
	.slider-grid-text h5 {
		font-size: 18px;
	}
	.slider-grid-text p {
		font-size: 12px;
		margin-top: 10px;
		line-height: 25px;
	}
	.gallery-top figure.effect-bubba h4 {
		margin-top: 13px;
		font-size: 14px;
	}
	.num1 .num-rotate {
		width: 55px;
		height: 55px;
		left: 20%;
	}
	.num1 .num-rotate:before {
		right: 35px;
	}
	.num1 h4 {
		font-size: 16px;
	}
	.num1 .numscroller {
		top: 15px;
		left: 20px;
	}
	.stats {
		height: 535px;
	}
	.stats-img img {
		width: 70px;
	}
}

@media screen and (max-width:600px) {
	.about {
		height: 520px;
	}
	.stats-img img {
		width: 70px;
	}
	p.stats-info {
		font-size: 12px;
	}
}

@media screen and (max-width:568px) {
	.navbar-toggle {
		padding: 5px;
	}
	ul#cross-effect {
		width: 94%;
	}
	.nav>li>a {
		padding: 8px;
	}
	.nav-diamond .left-arrow, .right-arrow {
		width: 45px;
		height: 45px;
		background-size: 40px;
	}
	.nav-diamond .right-arrow {
		background-size: 40px;
	}
	.slider-grid-bg {
		top: 23%;
		left: 32%;
	}
	.heading-underline {
		width: 15%;
	}
	.about {
		height: 540px;
	}
	.tabs-style-bar nav ul li a span {
		font-size: 12px;
	}
	.gallery-top figure.effect-bubba h4 {
		margin-top: 10px;
	}
	.skills-numbers {
		margin-top: 50px;
	}
	.num1 h4 {
		font-size: 14px;
	}
	.num1 .numscroller {
		top: 16px;
		left: 18px;
	}
	.stats {
		height: 530px;
	}
	p.stats-info {
		padding: 0;
		margin-top: 15px;
		line-height: 20px;
		font-size: 13px;
		font-weight: 100;
	}
}

@media screen and (max-width:533px) {
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
		width: 50%;
		background-color: #333;
	}
	ul#cross-effect {
		width: 100%;
		display: block;
	}
	.nav>li {
		height: 40px;
		margin: 0;
	}
	.navbar-inverse .navbar-nav>li>a:hover {
		color: #FFF;
		background-color: rgba(171, 171, 171, 0.46);
	}
	.navbar-inverse .navbar-nav>li>a {
		font-size: 13px;
	}
	.cross-effect a::before, .cross-effect a::after {
		position: inherit;
	}
	.slider-grid-bg {
		height: 190px;
		width: 190px;
	}
	.slider-grid-text {
		left: 15px;
		top: 37px;
	}
	.tabs-style-bar nav ul li a span {
		letter-spacing: 0;
	}
	.gallery-top figure.effect-bubba h4 {
		margin-top: 8px;
		font-size: 12px;
	}
	.skills p {
		padding-top: 30px;
	}
	.num1 .num-rotate {
		width: 50px;
		height: 50px;
	}
	.num1 .num-rotate:before {
		right: 30px;
	}
}

@media screen and (max-width:480px) {
	.navbar-toggle {
		margin-right: 5px;
		margin-top: 19px;
	}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
		right: 50px;
	}
	.slider-grid-bg {
		top: 15%;
		left: 30%;
	}
	.carousel-control {
		top: 41.5%;
	}
	.about {
		height: 570px;
	}
	.gallery-grids figure figcaption {
		top: -14px;
		left: -14px;
		width: 125%;
		height: 135%;
	}
	.gallery-top figure.effect-bubba h4 {
		margin-top: 13px;
		font-size: 14px;
	}
	.skills-numbers {
		padding: 0;
	}	
	.stats .numscroller {
		font-size: 30px;
	}
	.num1 h4 {
		margin-top: 35px;
	}
	.num1 .numscroller {
		top: 15px;
		left: 15px;
	}
	.stats-info {
		margin-top: 25px;
	}
	.clients .heading-underline {
		margin-bottom: 50px;
	}
}

@media screen and (max-width:414px) {
	.heading-underline {
		width: 20%;
	}
	.slider-grid-bg {
		height: 170px;
		width: 170px;
		top: 16.5%;
		left: 28.5%;
	}
	.slider-grid-text {
		left: 5px;
		top: 40px;
	}
	.slider-grid-text h5 {
		font-size: 16px;
		margin-bottom: 10px;
	}
	.slider-grid-text p {
		font-size: 11px;
		margin-top: 10px;
		line-height: 18px;
	}
	.carousel-inner>.item>img {
		height: 250px;
	}
	h1, .about h3, .portfolio h3, .skills h3, .stats h3, .clients h3 {
		font-size: 30px;
		margin: 30px auto 0;
	}
	.about {
		height: 650px;
	}
	.portfolio {
		padding-bottom: 20px;
	}
	.portfolio h4 {
		margin: 20px 0;
	}
	.gallery-top {
		width: 48%;
	}
	.gallery-top figure.effect-bubba h4 {
		margin-top: 26px;
	}
	.img-grid {
		width: 100%;
	}
	.num1 {
		width: 33%;
		margin-bottom: 50px;
	}
	.num1 .num-rotate {
		width: 70px;
		height: 70px;
		left: 22%;
	}
	.num1 .num-rotate:before {
		right: 40px;
		border-width: 0 30px 30px 0;
	}
	.num1 .numscroller {
		top: 25px;
		left: 27px;
	}
	#about-us {
		padding: 0 30px 20px;
	}
	#about-us .lead {
		margin-top: 0;
	}
	.skills p {
		padding-top: 0;
	}
	.stats {
		height: 500px;
	}
	.stats-img img {
		width: 60px;
	}
	.stats .numscroller {
		font-size: 25px;
	}
}

@media screen and (max-width:384px) {
	.slider-grid-bg {
		left: 26.5%;
	}
	.features h2, .features h3 {
		font-size: 16px;
	}
	.features-info {
		padding-left: 10px;
	}
	.about {
		height: 670px;
	}
	.tabs-style-bar nav ul li a span {
		font-size: 10px;
	}
	.gallery-top figure.effect-bubba h4 {
		margin-top: 22px;
	}
	.stats {
		height: 530px;
	}
}

@media screen and (max-width:375px) {
	.gallery-top figure.effect-bubba h4 {
		margin-top: 20px;
	}
}

@media screen and (max-width:360px) {
	.slider-grid-bg {
		left: 25.5%;
	}
	.features h2, .features h3 {
		font-size: 15px;
	}
	.features-item {
		padding: 20px 0 0px;
	}
	.features-info {
		padding-left: 5px;
		padding-top: 5px;
	}
	.about {
		height: 700px;
	}
	h4.slideanim.slide {
		line-height: 30px;
	}
	.num1 .num-rotate {
		left: 18%;
	}
	.stats .numscroller {
		font-size: 23px;
	}
}

@media screen and (max-width:320px) {
	.slider-grid-bg {
		left: 22%;
	}
	.features h2, .features h3 {
		font-size: 17px;
		line-height: 35px;
	}
	.features-icon img {
		padding-top: 16px;
	}
	.about p {
		padding: 0 10px;
		font-size: 12px;
		line-height: 25px;
	}
	.about {
		height: 675px;
	}
	.portfolio h3, .clients h3 {
		font-size: 27px;
	}
	.gallery-grids figure figcaption {
		top: -16px;
		left: -19px;
		width: 140%;
		height: 150%;
	}
	.gallery-top figure.effect-bubba h4 {
		margin-top: 13px;
	}
	.num1 {
		width: 50%;
	}
	.num1 .num-rotate {
		left: 25%;
	}
	.stats {
		height: 540px;
	}
	.stats-img img {
		width: 50px;
	}
	.stats .numscroller {
		font-size: 20px;
		text-indent: -5px;
	}
	p.stats-info {
		margin-left: -5px;
	}
	.c1 {
		width: 100%;
	}
}
/*-- //Responsive Code --*/