html{
    font-size: 100%;
}

body {
    margin: 0;
    background-color: #002b36;
    font-size: 2rem;
}

/*intro*/
.header {
    width: 100%;
    height: auto;
    background-color: #002b36;
}

.headerContent {
    width: 100%;
    height: auto;
    margin: 0 auto;
    /*background-color: #fdf6e3;*/

}

.background {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.construction {
    color: #93a1a1;
    font-size: 2rem;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 15%;
}

.introduction {

}

.nametable {
    left: 0;
    margin: 0px auto;
    position: absolute;
    top: 25%;
}

.name {
    width: 100%;
    height: auto;
    left: 0;
}

.discriptors {
    top: 45%;
    color: #fdf6e3;
    font-size: 1.75rem;
    text-align: center;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.nav {
    height: 35px;
    background-color: #002b36;
    padding-bottom: 15px;
}

.nav ul {
    margin: 0;
    padding: 0;
}

.nav ul li {
    list-style: none;
    float: right;
}

.nav ul li a:hover {
    color: #fdf6e3;
}

.about {
    color: #2aa198;
    text-decoration: none;
    float: right;
    display: block;
    padding: 10px 25px;
    position: relative;
    font-size: 1.5rem;
    text-align: right;
}

.projects {
    color: #d33682;
    text-decoration: none;
    float: right;
    display: block;
    padding: 10px 25px;
    position: relative;
    font-size: 1.5rem;
    text-align: right;
}

.skills {
    color: #268bd2;
    text-decoration: none;
    float: right;
    display: block;
    padding: 10px 25px;
    position: relative;
    font-size: 1.5rem;
    text-align: right;
}

.contact {
    color: #6c71c4;
    text-decoration: none;
    float: right;
    display: block;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 35px;
    position: relative;
    font-size: 1.5rem;
    text-align: right;
}

/*.about:hover {
    padding-top: 40px;
    color: #fdf6e3;
}

.projects:hover {
    color: #fdf6e3;
}

.skills:hover {
    color: #fdf6e3;
}

.contact:hover {
    color: #fdf6e3;
}*/
/*end of intro*/



/*about me*/

.abouttable {
    padding-top: 20px;
    padding-bottom: 20px;
    left: 0;
    margin: 0px auto;
}

.dash {
    color: #2aa198;
}

.tealT {
    width: 20px;
    height: auto;
}

.aboutmeTitle {
    color:#fdf6e3;
    font-size: 3.5rem;
    text-align: center;
}

.aboutcontent span {
    color: #2aa198;
}

.mypic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 65%;
    height: auto;
    border-radius: 50%;
    /*border: 5px solid #2aa198;*/
}

.aboutcontent {
    font-size: 1.75rem;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    width: 50%;
    height: auto;
    color: #fdf6e3;
}

/*end of about me*/



/*projects*/

.projectTitle {
    color:#fdf6e3;
    font-size: 3.5rem;
    text-align: center;
}

.projectstable {
    padding-top: 20px;
    padding-bottom: 20px;
    left: 0;
    margin: 0px auto;
}

.pinkT {
    width: 20px;
    height: auto;
}

/*end of projects*/



/*skills*/

.skillsTitle {
    color:#fdf6e3;
    font-size: 3.5rem;
    text-align: center;
}

.skillstable {
    padding-top: 20px;
    padding-bottom: 20px;
    left: 0;
    margin: 0px auto;
}

.blueT {
    width: 20px;
    height: auto;
}

/*end of skills*/

/*contact*/

.contacttable {
    left: 0;
    margin: 0px auto;
}

.contactMe {
    position: relative;
    top: 75%;
}

.purpleT {
    width: 20px;
    height: auto;
}

.contactTitle {
    font-size: 3.5rem;
    text-align: center;
    color: #fdf6e3;
}

.contactIcons {
    left: 0;
    margin: 0px auto;
}

.github {
    /*background-color: #fdf6e3;*/
    width: 80px;
    height:auto;
    margin-left: auto;
    margin-right: auto;
}

.linkedin {
    /*background-color: #fdf6e3;*/
    width: 85px;
    height:auto;
    margin-left: auto;
    margin-right: auto;
}

.resume {
    padding-left: 10px;
    width: 57px;
    height:auto;
    margin-left: auto;
    margin-right: auto;
}

.mail {
    /*background-color: #fdf6e3;*/
    width: 80px;
    height:auto;
    margin-left: auto;
    margin-right: auto;
}

.pinterest {
    /*background-color: #fdf6e3;*/
    padding-left: 10px;
    width: 85px;
    height:auto;
    margin-right: auto;
    margin-left: auto;
}

.end {
    text-align: center;
}

.bottomName {
    position: relative;
    font-size: 1rem;
    color: #2aa198;
    padding-bottom: 15px;
}

.year {
    font-size: 1rem;
    color: #93a1a1;
    position: relative;
}








































/*end contact*/