html {
    font-size: 100%;
    font-family: Helvetica;
    font-weight: 200;
}

body {
    margin: 0;
    background-color: #002b36;
    font-size: 2rem;
}

/*intro*/
/*.i {
    color: #dc322f;
}

.m {
    color: #6c71c4;
}

.d {
    color: #2aa198;
}*/
.header {
    width: 100%;
    height: auto;
    background-color: #002b36;
}

.headerContent {
    width: 100%;
    height: auto;
    margin: 0 auto;
    /*background-color: #fdf6e3;*/

}

.background {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
}

/*.construction {
    color: #93a1a1;
    font-size: 2rem;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 15%;
}*/

.nametable {
    left: 0;
    margin: 0px auto;
    position: absolute;
    top: 25%;
}

.name {
    width: 50%;
    margin-left: 25%;
    height: auto;
    left: 0;
}

.discriptors {
    top: 41%;
    color: #fdf6e3;
    font-size: 1.75rem;
    text-align: center;
    left: 0;
    font-weight: lighter;
    position: absolute;
    width: 100%;
}

.nav {
    height: 35px;
    background-color: #002b36;
    padding-bottom: 15px;
}

.nav ul {
    margin: 0;
    padding: 0;
}

.nav ul li {
    list-style: none;
    float: right;
}

.nav ul li a:hover {
    color: #fdf6e3;
}

.about {
    color: #2aa198;
    text-decoration: none;
    float: right;
    display: block;
    padding: 10px 25px;
    position: relative;
    font-size: 1.5rem;
    text-align: right;
}

.projects {
    color: #d33682;
    text-decoration: none;
    float: right;
    display: block;
    padding: 10px 25px;
    position: relative;
    font-size: 1.5rem;
    text-align: right;
}

.skills {
    color: #268bd2;
    text-decoration: none;
    float: right;
    display: block;
    padding: 10px 25px;
    position: relative;
    font-size: 1.5rem;
    text-align: right;
}

.experiences {
    color: #dc322f;
    text-decoration: none;
    float: right;
    display: block;
    padding: 10px 25px;
    position: relative;
    font-size: 1.5rem;
    text-align: right;
}

.design {
    color: #cb4b16;
    text-decoration: none;
    float: right;
    display: block;
    padding: 10px 25px;
    position: relative;
    font-size: 1.5rem;
    text-align: right;
}

.contact {
    color: #6c71c4;
    text-decoration: none;
    float: right;
    display: block;
    padding: 10px 25px;
    position: relative;
    font-size: 1.5rem;
    text-align: right;
}

/*.about:hover {
    padding-top: 40px;
    color: #fdf6e3;
}
.projects:hover {
    color: #fdf6e3;
}
.skills:hover {
    color: #fdf6e3;
}
.contact:hover {
    color: #fdf6e3;
}*/
/*end of intro*/



/*about me*/

.abouttable {
    padding-top: 20px;
    padding-bottom: 20px;
    left: 0;
    margin: 0px auto;
}

.tealT {
    padding-top: 30px;
    padding-bottom: 10px;
    width: 20px;
    height: auto;
}

.aboutmeTitle {
    padding-top: 30px;
    padding-bottom: 10px;
    color:#fdf6e3;
    font-size: 3.0rem;
    
}

.aboutcontent span {
    color: #2aa198;
}

.mypic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 20%;
    height: auto;
    border-radius: 50%;
}

.aboutcontent {
    font-size: 1.5rem;
    margin-left: 0;
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    width: 80%;
    height: 45%;
    color: #fdf6e3;
    text-align: center;
}

/*end of about me*/



/*projects*/

.projectTitle {
    padding-top: 25px;
    color:#fdf6e3;
    font-size: 3rem;
    text-align: center;
    padding-bottom: 0;
}

.projectstable {
    padding-bottom: 20px;
    left: 0;
    margin: 0px auto;
}

.pinkT {
    padding-top: 25px;
    width: 20px;
    height: auto;
}

.gitlett {
    padding-top: 10px;
    padding-bottom: 10px;
}

.gitletText span {
    color: #d33682;
}

.dogeText span {
    color: #d33682;
}

.hangmanText span {
    color: #d33682;
}

.gitlet {
    display: block;
    left: 35%;
    position: relative;
    width: 35%;
    height: auto;
    top: 75px;
    border-radius: 50%;
}

.gitletText {
    font-size: 1.5rem;
    margin-left: 0;
    position: relative;
    padding-left: 15px;
    padding-right: 10%;
    width: 70%;
    top: -35px;
    color: #fdf6e3;
}

.gitletTable {
    font-size: 1.3rem;
    top:-50px;
    position: relative;
    left: 33%;
    color: #fdf6e3;
    width: 40%;
    height: auto;
    bottom: 20px;
}

/*.gitletlist{
    font-size: 1.3rem;
    top:-50px;
    position: relative;
    color: #fdf6e3;
    width: 100%;
    height: auto;
    bottom: 20px;
}*/

.hangman {
    padding-bottom: 10px;
    padding-top: 20px;
}
.hangmanPic {
    display: block;
    position: relative;
    top:20px;
    width: 35%;
    height: auto;
    border-radius: 50%;
    left: 35%;
}

.hangmanText {
    font-size: 1.5rem;
    margin-left: 0;
    top: 20px;
    position: relative;
    padding-left: 15px;
    padding-right: 10%;
    width: 70%;
    height: 45%;
    color: #fdf6e3;
}

.dogesitter {
    padding-bottom: 25px;
    padding-top: 20px;
}

.doge{
    display: block;
    position: relative;
    width: 35%;
    height: auto;
    border-radius: 50%;
    left: 35%;
}

.dogeText {
   font-size: 1.5rem;
    margin-left: 0;
    position: relative;
    padding-left: 15px;
    padding-right: 10%;
    width: 70%;
    height: 45%;
    color: #fdf6e3;
}
/*end of projects*/



/*skills*/

.skillsTitle {
    padding-top: 25px;
    padding-bottom: 10px;
    color:#fdf6e3;
    font-size: 3rem;
    text-align: center;
}

.skillstable {
    padding-top: 20px;
    padding-bottom: 20px;
    left: 0;
    margin: 0px auto;
}

.blueT {
    padding-top: 25px;
    padding-bottom: 10px;
    width: 20px;
    height: auto;
}

.languagestable {
    margin-left:10%; 
    margin-right:10%;
    width: 85%;
}


.python {
    /*vertical-align: middle;*/
    width: 70%;
    height: auto;
}

/*end of skills*/


/*experiences*/

.experienceTitle{
    padding-top: 25px;
    padding-bottom: 10px;
    color:#fdf6e3;
    font-size: 3rem;
    text-align: center;
}

.experiencestable {
    padding-top: 20px;
    /*padding-bottom: 20px;*/
    left: 0;
    margin: 0px auto;
}

.experienceIcons {
    padding-top: 20px;
}

.redT {
    padding-top: 25px;
    padding-bottom: 10px;
    width: 20px;
    height: auto;
}

.intuit {
    margin-left: 35%;
    position: relative;
    width: 35%;
    height: auto;
    border-radius: 50%;
}

.intuitcontent {
    font-size: 1.5rem;
    margin-left: 0;
    position: relative;
    padding-left: 15px;
    padding-right: 10%;
    width: 70%;
    height: 45%;
    color: #fdf6e3;
}

.experienceIcons span {
    color: #dc322f;
}

.oopseeicon {
    margin-left: 35%;
    top: 25px;
    position: relative;
    width: 35%;
    height: auto;
    border-radius: 50%;
}

.oopseecontent {
    font-size: 1.5rem;
    margin-left: 0;
    top: 25px;
    position: relative;
    padding-left: 15px;
    padding-right: 10%;
    width: 70%;
    height: 45%;
    color: #fdf6e3;
}

.iOS {
    margin-left: 35%;
    top: 50px;
    position: relative;
    width: 35%;
    height: auto;
    border-radius: 50%;
}

.iOSText {
    font-size: 1.5rem;
    margin-left: 0;
    top: 50px;
    position: relative;
    padding-left: 15px;
    padding-right: 10%;
    width: 70%;
    height: 45%;
    color: #fdf6e3;
}

/*end of experience*/

.paddingsection {
    padding-bottom: 90px;
}

/*design*/

.designtable {
    /*padding-top: 20px;*/
    left: 0;
    margin: 0px auto;
}

.designTitle {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 3rem;
    text-align: center;
    color: #fdf6e3;
}

.orangeT {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 20px;
    height: auto;
}

.designIcons {
    left: 0;
    margin: 0px auto;

}

.carousel-inner > .item > img {
    margin: 0 auto;
}

/*end of design*/


/*contact*/

.contacttable {
    padding-top: 20px;
    left: 0;
    margin: 0px auto;
}

.contactMe {
    position: relative;
    top: 75%;
}

.purpleT {
    padding-top: 25px;
    width: 20px;
    height: auto;
}

.contactTitle {
    padding-top: 25px;
    font-size: 3rem;
    text-align: center;
    color: #fdf6e3;
}

.contactIcons {
    left: 0;
    margin: 0px auto;
}

.github {
    /*background-color: #fdf6e3;*/
    width: 80px;
    height:auto;
    margin-left: auto;
    margin-right: auto;
}

.linkedin {
    /*background-color: #fdf6e3;*/
    width: 85px;
    height:auto;
    margin-left: auto;
    margin-right: auto;
}

.resume {
    padding-left: 10px;
    width: 57px;
    height:auto;
    margin-left: auto;
    margin-right: auto;
}

.mail {
    /*background-color: #fdf6e3;*/
    width: 80px;
    height:auto;
    margin-left: auto;
    margin-right: auto;
}

.pinterest {
    padding-left: 10px;
    width: 85px;
    height:auto;
    margin-right: auto;
    margin-left: auto;
}

/*end of contacts*/

.end {
    text-align: center;
}

.bottomName {
    position: relative;
    font-size: 1rem;
    color: #2aa198;
    padding-bottom: 15px;
}

.year {
    font-size: 1rem;
    color: #93a1a1;
    position: relative;
}